:root{
    --main : #6C6BDE;
}

a{
    text-decoration: none !important;
}
a:hover{
    color: white !important;
}
.head, .head_left_side, .head_right_side{
    height: 100vh;
}

.head_left_sidesm, .head_right_sidesm{
    height: 50vh;
}

.colored_dot{
    color: var(--main) ;
}

.head_right_side, .head_right_sidesm{
    background: url(Assets/opening.png) no-repeat;
}

.Services{
    background-color: var(--main);
}

.Services .card{
    color: white;
    border: 3px solid rgba(255, 255, 255, 0.6) !important;
    background-color: var(--main) !important;
    height: 350px !important;
}

.ABOUTmE, .ABOUTmE_left_side, .ABOUTmE_right_side{
    height: 100vh;
}

.ABOUTmE_left_side{
    background: url(Assets/waiting.png) no-repeat;
}

.ABOUTmE_left_sidesm{
    background: url(Assets/waiting.png) no-repeat;
    background-position-y: top;
    background-size: 100%;
}

.ABOUTmE_left_sidesm{
    height: 50vh;
} 
.ABOUTmE_right_sidesm{
    height: 70vh;
}

.ABOUTmE_left_side{
    overflow: hidden;
}

.ResumeBut{
    background-color: var(--main);
    color: white;
    border: none;
    border-radius: 7px;
    padding: 15px 10px 15px 10px;
    height: 60px;
    width: 230px;
}

.skills{
    background-color: var(--main);
    /* padding: 30px 0 30px 0; */
}

.skill_showcase{
    height: 175px;
}
/* 
.recentWork{
    height: 100vh;
} */

.switch button{
    border: none;
    background-color: white;
}

.switch_button_active{
    padding: 5px 25px;
    border-radius: 20px;
    background-color: #F5F7FA !important;
}

.Wrapper{
    overflow-x: scroll;
}
.Wrapper::-webkit-scrollbar{
    height: 0;
}

.Wrapper .card{
    height: 470px;
}

.footer, .footer_left_side, .footer_right_side{
    height: 350px;
}

.footer_right_side{
    background-color: var(--main);
}

.footer_right_side p{
    color: white;
}